---
layout: default
permalink: /blog/
title: Blog
---

<div class="blog">

  <h1 class="blog__heading">Freaky thoughts</h1>
  <ul class="post-list">
    {% for post in site.posts %}
      <li class="post-item">
        <h2>
          <a class="post-item__title" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-item__date">{{ post.date | date: date_format }}</span>
        <ul class="post-categories">
          {% if post %}
            {% assign categories = post.categories %}
          {% else %}
            {% assign categories = page.categories %}
          {% endif %}
          {% for category in categories %}
          <li class="post-category"><a class="post-category__link" href="{{site.baseurl}}/categories/#{{category|slugize}}">{{ category }}</a></li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
