---
layout: default
permalink: /categories/
---

<main id="categories" class="m-wraper l-flex">
    {% for category in site.categories %}
    <div class="category">
      {% capture category_name %}{{ category | first }}{% endcapture %}
      <h3 class="category--name">{{ category_name }}</h3>
      <a name="{{ category_name | slugize }}"></a>
      {% for post in site.categories[category_name] %}
      <article class="category--item l-flex">
        <h4><a class="category--link" href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h4>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="blog-article--date-small">{{ post.date | date: date_format }}</span>
      </article>
      {% endfor %}
    </div>
    {% endfor %}
</main>
