{% if post.isMedium %}
  {% assign entryClass = 'blog-entry--link-medium' %}
  {% assign categoryTagClass = 'category--tag-medium' %}
{% else %}
  {% assign entryClass = 'blog-entry--link' %}
  {% assign categoryTagClass = 'category--tag' %}
{% endif %}
<li class="blog-entry l-flex">
  <h3 class="blog-entry--title">
    <a class="{{ entryClass }}" href="{{ post.url | relative_url }}" rel="bookmark">{{ post.title | escape }}</a>
  </h3>
  <ul class="blog-entry--categories l-flex">
    {% if post %}
    {% assign categories = post.categories %}
    {% else %}
    {% assign categories = page.categories %}
    {% endif %}
    {% for category in categories %}
    <li class="{{ categoryTagClass }}"><a class="category--tag-link" href="{{site.baseurl}}/categories/#{{category|slugize}}" rel="tag">{{ category }}</a></li>
    {% endfor %}
  </ul>
</li>
