<header id="header" class="m-wrapper l-flex">
  {% if page.layout == 'home' %}
  <h1>
    <a class="site-title" href="{{ "/" | relative_url }}" rel="index">{{ site.title | escape }}</a>
  </h1>
  {% else %}
    <a class="site-title" href="{{ "/" | relative_url }}" rel="index">{{ site.title | escape }}</a>
  {% endif %}

  <nav>
    <ul class="l-flex">
        <li class="nav--item">
          <a class="nav--link" href="/feed/" rel="bookmark">feed</a>
        </li>
        <li class="nav--item">
          <a class="nav--link" href="/about/" rel="bookmark">about</a>
        </li>
    </ul>
  </nav>
</header>
