#header
  justify-content: space-between
  padding: 10px
  margin-bottom: 25px

#categories
  flex-wrap: wrap
  justify-content: center

#blog
#article
#about
#projects
#home

.l-flex
  display: flex

.l-center
  display: flex
  justify-content: center
  align-items: center
