#header
  justify-content: space-between
  margin-bottom: 10px
  align-items: flex-end

#home
  font-size: 1.7rem
  section:not(:last-child)
    margin-bottom: 15px

#about
  flex-direction: column
  font-size: 1.7rem

.l-flex
  display: flex

.l-center
  display: flex
  justify-content: center
  align-items: center

.l-highlight
  color: $c-highlight-2

.l-italic
  font-style: italic

.l-checked
  text-decoration: line-through

.l-bold
  font-weight: 700

.l-link
  transition: 0.25s all ease-out
  text-decoration: none
  &:hover
    color: darken($c-highlight-1, 12%)
