@charset "utf-8"

// typography
$t-family: 'Lato', sans-serif
$t-size: 62.5%
$t-weight: 400
$t-line-height: 1.5
$spacing-unit: 30px

// colors
$c-grey: #828282 !default
$c-grey-light: lighten($c-grey, 40%) !default
$c-dark: #1B1C1E
$c-dark-text: #222
$c-green-light: #9DC581
$c-vanilla: #FBF8E8
$c-red: #D82247
$c-highlight: #3395BF
