@charset "utf-8"

// typography
$t-family: 'Lato', sans-serif
$t-size: 62.5%
$t-weight: 400
$t-line-height: 1.5
$spacing-unit: 30px

// colors
$c-highlight-1: #D82247
$c-highlight-2: #00D5AA
$c-code-border: lighten(#828282, 40%) !default
$c-background: #1B1C1E
$c-code: #222
$c-tags: #9DC581
$c-base-font: #FFFDF7
