.header__wrapper
  display: flex
  justify-content: space-between
  padding: 10px
  margin-bottom: 20px

.site-title
  text-decoration: none
  font-weight: bold
  font-size: 1.2rem
  color: $vanilla
.site-nav

.site-nav__list
  display: flex
.site-nav__item
  &:not(:first-child)
    margin-left: 10px
.site-nav__link
  font-size: 1.02rem
  color: $vanilla
  &:hover
    color: $red
  transition: 0.25s all
  text-decoration: none
