@import modules/blog
@import modules/article
@import modules/categories
@import modules/sidebar
@import modules/projectEntry
@import modules/shareButtons

.m-header
  display: flex
  align-items: center
  font-size: 2.6rem
  font-weight: bold
  &:not(:first-child)
    margin-top: 1.5rem
  &::before
    display: block
    content: ''
    width: 2.5px
    height: 1em
    background: $c-highlight-1
    position: relative
    // top: 4px
    left: -0.2em
    border-radius: 2px

.m-wrapper
  max-width: 1050px
  margin: 0 auto
  padding: 10px

.m-sticky-wrapper
  position: sticky
  top: 25px
