.blog-article

  &--header
    flex-flow: row wrap
    align-items: center
    font-size: 2.6rem
    margin-bottom: 10px

  &--title
    font-weight: bold
    transition: 0.25s all
    color: $c-highlight-1

  &--date
    font-size: 0.65em
    font-weight: bold
    white-space: nowrap
    width: 50%
  &--tags
    width: 50%
    justify-content: flex-end
  &--content
    font-size: 1.7rem
    p
      margin-bottom: 12px
    img
      width: 85%
      height: auto
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
      border-radius: 1px
      +mQ(600px)
        width: 100%
