.category
  margin-bottom: 25px
  font-size: 2.15rem
  &--item
    align-items: center
    font-size: 0.85em
  &--name
    font-weight: bold
    text-transform: capitalize
  &--link
    text-decoration: none
    transition: 0.25s all
    &:hover
      color: darken($c-red, 12%)
  &--entry-date
    margin-left: 0.6em
    font-size: 0.85em
    white-space: nowrap
  &--tag
    font-size: 0.525em
    background: darken($c-green-light, 25%)
    transition: 0.25s all
    border-radius: 0.15em
    -webkit-box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.75)
    -moz-box-shadow:    1px 1px 1px 0px rgba(50, 50, 50, 0.75)
    box-shadow:         1px 1px 1px 0px rgba(50, 50, 50, 0.75)
    &-in-article
      font-size: 0.475em
      +mQ(600px)
        font-size: 0.425em
    &:not(:last-child)
      margin-right: 1.15em
    &:hover
      cursor: pointer
      background-color: darken($c-green-light, 15%)
    &-link
      text-decoration: none
      text-transform: uppercase
      font-weight: bold
      color: $c-vanilla
      display: block
      padding: 0.2em 0.45em
