.category
  margin-bottom: 25px
  font-size: 2.15rem
  &--item
    align-items: baseline
    font-size: 0.85em
  &--name
    font-weight: bold
    text-transform: capitalize
  &--link
    text-decoration: none
    transition: 0.25s all
    color: $c-highlight-1
    &:hover
      color: darken($c-highlight-1, 12%)
    &-special
      @extend .category--link
      color: $c-highlight-2
      &:hover
        color: darken($c-highlight-2, 12%)
  &--entry-date
    margin-left: 0.6em
    font-size: 0.85em
    white-space: nowrap
  &--tag
    font-size: 0.525em
    background: darken($c-tags, 25%)
    transition: 0.25s all
    border-radius: 0.15em
    -webkit-box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.75)
    -moz-box-shadow:    1px 1px 1px 0px rgba(50, 50, 50, 0.75)
    box-shadow:         1px 1px 1px 0px rgba(50, 50, 50, 0.75)
    &:hover
      cursor: pointer
      background-color: darken($c-tags, 15%)
    &-special
      @extend .category--tag
      background: darken($c-tags-special, 8%)
      &:hover
        cursor: pointer
        background-color: $c-tags-special
    &-in-article
      font-size: 0.430em
      +mQ(600px)
        font-size: 0.425em
    &:not(:last-child)
      margin-right: 1em
    &-link
      text-decoration: none
      text-transform: uppercase
      font-weight: bold
      color: $c-base-font
      display: block
      padding: 0.2em 0.45em
