.site-title
  text-decoration: none
  font-weight: bold
  font-size: 1.8rem
  color: $c-base-font

.nav--item
  &:not(:first-child)
    margin-left: 10px
.nav--link
  font-size: 1.6rem
  color: $c-base-font
  &:hover
    color: $c-highlight-1
  transition: 0.25s all
  text-decoration: none
