---
layout: default
permalink: /categories/
---

<main id="categories" class="m-wraper l-flex">
    {% for category in site.categories %}
    <ul class="category">
      {% capture category_name %}{{ category | first }}{% endcapture %}
      <h2 class="category--name">{{ category_name }}</h3>
      <a name="{{ category_name | slugize }}"></a>
      {% for post in site.categories[category_name] %}
      <li class="category--item l-flex">
        <a class="category--link" href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="category--entry-date">{{ post.date | date: date_format }}</span>
      </li>
      {% endfor %}
    </ul>
    {% endfor %}
</main>
