---
layout: default
permalink: /categories/
---
{% assign categories = "" | split: ',' %}

{% for category in site.categories %}
  {% capture category_name %}{{ category | first }}{% endcapture %}
  {% assign categories = categories | push: category_name %}
{% endfor %}

{% for mediumPost in site.medium_feed %}
  {% for category in mediumPost.categories %}
  {% if categories contains category %}
  {% else %}
  {% assign categories = categories | push: category %}
  {% endif %}
  {% endfor %}
{% endfor %}

{% assign allPosts = site.posts | concat: site.medium_feed | sort: 'date' %}
{% for category in categories %}
<ul class="category">
  <h2 class="category--name">{{ category }}</h3>
  {% for post in allPosts reversed %}
  {% if post.categories contains category %}
  <li class="category--item l-flex">
    {% if post.steem %}
    <a class="category--link-steem" href="{{ post.urlSteem }}" rel="bookmark">{{post.title}}</a>
    {% else %}
    <a class="category--link" href="{{ site.baseurl }}{{ post.url }}" rel="bookmark">{{post.title}}</a>
    {% endif %}
    {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
    <time class="category--entry-date" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
      {{ post.date | date: date_format }}
    </time>
  </li>
  {% endif %}
  {% endfor %}
</ul>
{% endfor %}
