/**
 * Basic styling
 */
body {
  font: $t-weight #{$t-size}/#{$t-line-height} $t-family;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
}

%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

pre,
code {
  @include t-relative(0.9375);
  border: 1px solid $c-grey-light;
  border-radius: 3px;
  background-color: #eef;
  color: $c-dark-text;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}
