<!DOCTYPE html>
<html lang="en">

  {% include head.html %}
  <body>
    {% include header.html %}
    <main class="m-wrapper">
      {{ content }}
    </main>

    {% if page.layout == 'article' %}
      <script src="{{ '/assets/js/picturefill.min.js' | absolute_url }}"></script>
      <script src="{{ '/assets/js/lazysizes.min.js' | absolute_url }}"></script>
    {% endif %}
    {% if page.math %}
      <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>
    {% endif %}
  </body>

</html>
