---
layout: default
permalink: /
---
<h2 class="m-header">Freaky thoughts</h1>
<ul>
  {% for post in site.posts %}
    <li class="blog-entry l-flex">
      <h2 class="blog-entry--title">
        <a class="blog-entry--link" href="{{ post.url | relative_url }}" rel="bookmark">{{ post.title | escape }}</a>
      </h2>
      {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
      <time class="blog-entry--date" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ post.date | date: date_format }}
      </time>
      <ul class="blog-entry--categories l-flex">
        {% if post %}
          {% assign categories = post.categories %}
        {% else %}
          {% assign categories = page.categories %}
        {% endif %}
        {% for category in categories %}
        <li class="category--tag"><a class="category--tag-link" href="{{site.baseurl}}/categories/#{{category|slugize}}" rel="tag">{{ category }}</a></li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ul>

<!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
